h1 {
  text-align: center;
  justify-content: center;
  font-size: 5rem;
}

#title{
  text-align: center;
  justify-content: center;
  font-size:3rem;
}

#container{
  display : flex;
  flex-direction: row;
 

}
#pizza {
  width: 100%;

}

#image{
  flex:1;
  gap:5px
  
  

}
#description{
  flex: 1;
  justify-content: center;
  text-align: center;
  color:rgb(14, 17, 155);
}